.recipes {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 50px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 200px ;
}

